name: docker

on:
  release:
    types: [published]


jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            crapware/sbcl:latest
            crapware/sbcl:${{ GITHUB_REF }}
            ghcr.io/rudolfochrist/sbcl:latest
            ghcr.io/rudolfochrist/sbcl:${{ GITHUB_REF }}
